<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Catálogo</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="/index" alt="Ruth´s Floristeria">
                    <img src="/Img/LogoOficial2.png" alt="Ruth´s Floristeria" class="logo" id="logo">
                </a>
            </div>
            <div class="name-container">
                <div class="brand-name">
                    <div class="nameHeader">
                        <h1>RUTH'S FLORISTERIA</h1>
                    </div>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/share/15a2yERfwt/" target="_blank" aria-label="Facebook" class="social_i_link">
                            <img src="/Img/facebook_icon.png" alt="Facebook" class="social_i_link">
                        </a>
                        <a href="https://www.instagram.com/ruths_floristeria?igsh=MTY0dXgzOWtsdXFlZA==" target="_blank" aria-label="Instagram" class="social_i_link">
                            <img src="/Img/ig_icon.png" alt="Instagram" class="social_i_link">
                        </a>
                        <a href="https://www.tiktok.com/@ruthu2922?_t=ZM-8tanzx0APdW&_r=1" target="_blank" aria-label="TikTok" class="social_i_link">
                            <img src="/Img/tik-tok_icon.png" alt="TikTok" class="social_i_link">
                        </a>
                        <a href="https://wa.me/message/7DZKOUFPRBHBN1" target="_blank" aria-label="WhatsApp" class="social_i_link">
                            <img src="/Img/whatsapp_icon.png" alt="WhatsApp" class="social_i_link">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- barra de busqueda -->
        <div class="search-div">
            <input class="search-input" type="search" name="search" placeholder="Buscar">
            
            <button class="btn-search"><i class="bi bi-search"></i></button>
            
            <a href="/login" aria-label="Login" class="user-icon">
                <i id="user-icon" class="bi bi-person-fill"></i>
            </a>
            
            <!-- Carrito grande -->
            <div class="container-icon cart-large">
                <div class="container-cart-icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="icon-cart"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                    />
                    </svg>
                    <div class="count-products">
                        <span id="contador-productos">0</span>
                    </div>
                </div>
    
                <div class="container-cart-products hidden-cart">
                    <div class="row-product hidden">
                        <!-- Productos del carrito se agregarán aquí dinámicamente -->
                    </div>
    
                    <div class="cart-total hidden">
                        <h3>Total a pagar:</h3>
                        <span class="total-pagar">$0</span>
                        <a href="/Pago" class="btn-pagar" target="_blank">Ir a pagar</a>
                    </div>

                    <p class="cart-empty">El carrito está vacío</p>

                </div>

            </div>
        </div>
    </header>

    
    <div class="particles" id="particles-js"></div>
    <!-- Menú desplegable -->
    <div class="menuFondo">

        <button class="abrir_menu" id="abrir">
            <i class="bi bi-list"></i>
        </button>


        <!-- Carrito pequeño -->
        <div class="container-icon cart-small">
            <div class="container-cart-icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="icon-cart"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                />
                </svg>
                <div class="count-products">
                    <span id="contador-productos">0</span>
                </div>
            </div>
    
            <div class="container-cart-products hidden-cart">
                <div class="row-product hidden">
                    <!-- Productos del carrito se agregarán aquí dinámicamente -->
                </div>
    
                <div class="cart-total hidden">
                    <h3>Total:</h3>
                    <span class="total-pagar">$0</span>
                    <!-- <button class="btn-pagar" onclick="window.location.href='Pago.html'">Ir a pagar</button> -->
                </div>
                <p class="cart-empty">El carrito está vacío</p>
            </div>
        </div>
     </div>

    
    <ul class="menu-box menu-catalogo" id="menu_nav">

        <button class="cerrar_menu" id="cerrar">
            <i class="bi bi-x"></i>
        </button>

        <img src="/Img/LogoOficial2.png" alt="logoMenu" class="logoMenu">

        <li class="menu-item"><a href="/index" class="menu-link">Inicio</a></li>
    
        <li class="menu-item menu-dropdown">
            <a href="#" class="menu-link">Flores 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </a>
            <ul class="menu-drop menu-catalogo-drop">
                <li class="menu-drop-item"><a href="#" class="menu-drop-link">Rosas</a></li>
                <li class="menu-drop-item"><a href="#" class="menu-drop-link">Girasoles</a></li>
                <li class="menu-drop-item"><a href="#" class="menu-drop-link">Lirios</a></li>
            </ul>
        </li>
    
        <li class="menu-item"><a href="/contacto" class="menu-link">Contactanos</a></li>
        <li class="menu-item"><a href="/nosotros" class="menu-link">Sobre nosotros</a></li>
    </ul>
    

    
    <div class="particles" id="particles-js"></div>
    <!-- ================================================= -->
    <!-- Contiene los productos -->
    <!-- Primer Bloque -->
    <h1 class="titleTipo">Flores Eternas</h1>
    <h1 class="titleCatalogos">Rosas</h1>
    <div class="container-items">
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/Ramo8Rosas.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas<hr>8 unidades<hr>(Eternas)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/CorazonRosas.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Corazón de rosas <hr> Contiene 3 chocolates <hr>30 unidades<hr>(Eternas)</h2>
                <p class="price">$35</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoElegante.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas acompañado de lirios<hr>(Artifical)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/kuromi.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramos de kuromi<hr>12 unidades<hr>(Eternas) </h2>
                <p class="price">$20</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/Ramo5rosas.jpeg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo pink con oso<hr> 5 unidades <hr> (Eternas)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/CorazonChocolate.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas <hr> Contiene 6 chocolates <hr> 15 unidades <hr> (Eternas)</h2>
                <p class="price">$35</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/CorazonRosas2.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas <hr> Contiene 5 chocolates <hr> 13 unidades <hr> (Eternas)</h2>
                <p class="price">$30</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoRosaLuz.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas <hr> Contiene luces cambiantes <hr> 12 unidades <hr> (Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoRojaRosas.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas rojas <hr> 8 unidades <hr> (Eternas)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoHombre.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de rosas <hr> Contiene luces cambiantes <hr> 12 unidades <hr> (Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Segundo bloque -->
    <h1 class="titleCatalogos">Girasoles</h1>
    <div class="container-items">
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoDeGirasoles.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de girasoles <hr> 5 unidades <hr> (Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RosaGirasol.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo mixto <hr>1 girasol jumbo y 9 rosas <hr>(Eternas)</h2>
                <p class="price">$18</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoBella.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo de Bella <hr>Contiene luces cambiantes <hr>18 unidades <hr> (Eternas)</h2>
                <p class="price">$30</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/ArregloEscalera.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Caja de corazón <hr>3 girasoles y 10 Rosas <hr>(Eternas)</h2>
                <p class="price">$30</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/GirasolArr.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo para mesa <hr> 1 girasol jumbo y 3 rosas <hr>(Eternas y Artificial)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoGirasolRosa.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo mixto <hr>1 girasol jumbo y 7 rosas <hr>(Eternas)</h2>
                <p class="price">$18</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoGirasolRosado.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo mixto <hr>1 girasol y 7 rosas <hr>(Eternas)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Ramos/RamoAmarilloRosas.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo mixto <hr>1 girasol jumbo y 3 rosas <hr>(Eternas)</h2>
                <p class="price">$12</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/Corazon.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Caja de corazón <hr>1 girasol jumbo y 12 rosas <hr>(Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Tercer bloque -->
    <h1 class="titleCatalogos">Arreglos</h1>
    <div class="container-items">
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/ArregloOso.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo con oso <hr> 10 rosas <hr> (Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/CajaKitty.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo con peluche de Hello Kitty <hr>8 rosas <hr>(Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/CajaPelucheBlanco.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo con peluche <hr>Contiene chocolotes<hr>4 rosas <hr> (Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/ArregloSorpresa.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo sorpresa para propuestas <hr>3 girasoles y 6 Rosas <hr>(Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/CajaStitch.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo con peluche <hr> de Stitch <hr>(Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/ArregloMini.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo grande <hr> 8 rosas <hr>(Eternas)</h2>
                <p class="price">$18</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/PelucheRosas.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo con manualidad de peluche <hr>7 rosas y 2 lirios <hr>(Eternas y Artificial)</h2>
                <p class="price">$30</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/ArregloJumbo.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo para obsequiar <hr> Contiene chocolates <hr>7 rosas <hr>(Eternas)</h2>
                <p class="price">$12</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Arreglos/Angela.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Arreglo con peluche <hr> de Angela <hr>(Eternas)</h2>
                <p class="price">$25</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Cuarto bloque -->
    <h1 class="titleCatalogos">Mini Detalles</h1>
    <div class="container-items">
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/Capsula.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Domo de rosa<hr> con luces <hr> (Artificial)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/Cuadro1.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Cuadro con girasol jumbo<hr> (Eterno)</h2>
                <p class="price">$12</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/Cartera.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Cartera de rosas <hr> (Artifical)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/MiniCajitaR.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Cajita de rosas <hr>(Eterno)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/ConoGirasol.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Cono con girasol <hr>(Eterno)</h2>
                <p class="price">$5</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/Gorras.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Mini detalle para pareja con gorra <hr>(Eterno)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/miniCorazon.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Mini ramo de corazón <hr>(Eterno)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/CarteraRosasRoja.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Mini cartera de rosas <hr>(Eterno)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/GirasolIndividual.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Mini cartera de rosas <hr>(Eterno)</h2>
                <p class="price">$10</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/MiniDetalles/MiniMaseta.jpg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Mini cartera de rosas <hr>(Eterno)</h2>
                <p class="price">$5</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Quinto bloque -->
    <h1 class="titleTipo">Flores Naturales</h1>
    <h1 class="titleCatalogos">Ramos</h1>
    <div class="container-items">
        <div class="item">
            <figure>
                <img
                    src="/Img/Naturales/ArregloNatural.jpeg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Caja de rosas surtida<hr> (Natural)</h2>
                <p class="price">$35</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Naturales/GerberaGirasol.jpeg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo jumbo surtido<hr> (Natural)</h2>
                <p class="price">$40</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Naturales/GirasolRosas.jpeg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Amor compartido<hr> (Natural)</h2>
                <p class="price">$45</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Naturales/RamoRosasNat.jpeg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Ramo buchon<hr>(Natural)</h2>
                <p class="price">$80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img
                    src="/Img/Naturales/RamoNat.jpeg"
                    alt="producto"
                />
            </figure>
            <div class="info-product">
                <h2>Amor con humildad<hr>(Natural)</h2>
                <p class="price">$15</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- =================================================================================================================================== -->
    <!-- Pie de pagina -->
    <footer>
        <div class="footer-container">
            <div class="footer-info">
                <div>
                    <img class="img-footer" src="./Img/LogoWeb.png" alt="Logo">
                </div>
                <div>
                    <h2>Contactos</h2>
                    <p class="footer_info">WhatsApp: (503) 7810 0380</p>
                    <p class="footer_info">Correo: ruths_floristeria@gmail.com
                </div>
            <div>
                <h2>
                    Horarios de atencion
                </h2>
                <p class="footer_info">Lunes a Viernes 9:00 a.m - 5:00 p.m</p>
                <p class="footer_info">Sabado: 9:00 a.m - 12:00 m.d</p>
                <p class="footer_info">Domingo: 9:00 a.m - 12:00 m.d</p>
            </div>
            <div>
                <h2>
                   Dirección:
                </h2>
                <p class="footer_info">Pasaje Texas #18</p>
                <p class="footer_info">Colonia Los Angeles</p>
                <p class="footer_info">Apopa, San Salvador, El Salvador</p>
            </div>
            
        </div>
        <p class="footer-copyright">
            Todos los derechos reservados &copy; 2024 Ruth's Floristeria. 
        </p>
    </footer>

    <script src="/scripts/Cart.js"></script>
</body>
</html>