<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
       
        <link rel="stylesheet" href="/css/style.css">
        
        <title>Flores eternas 4.0</title>
        
    </head>

    </body> 
        <!-- Cabezera del web: contiene el logo y nombre del negocio -->
        <header>
            <div class="header-container">
                <div class="logo-container">
                    <a href="/index" alt="Ruth´s Floristeria">
                        <img src="./Img/LogoOficial2.png" alt="Ruth´s Floristeria"
                            class="logo" id="logo">
                    </a>
                </div>
                <div class="name-container">
                    <!-- Bloque que contiene las redes sociales -->
                    <div class="brand-name">
                        <div class="nameHeader">
                            <h1>RUTH'S FLORISTERIA</h1>
                        </div>
                        
                        <div class="social-icons">
                            <a href="https://www.facebook.com/share/15a2yERfwt/" target="_blank"
                                aria-label="Facebook" class="social_i_link">
                                <img src="/Img/facebook_icon.png" alt="Facebook" class="social_i_link">
                            </a>
                            <a href="https://www.instagram.com/ruths_floristeria?igsh=MTY0dXgzOWtsdXFlZA==" target="_blank"
                                aria-label="Instagram" class="social_i_link">
                                <img src="/Img/ig_icon.png" alt="Instagram" class="social_i_link">
                            </a>
                            <a href="https://www.tiktok.com/@ruthu2922?_t=ZM-8tanzx0APdW&_r=1" target="_blank"
                                aria-label="TikTok" class="social_i_link">
                                <img src="/Img/tik-tok_icon.png" alt="TikTok" class="social_i_link">
                            </a>
                            <a href="https://wa.me/message/7DZKOUFPRBHBN1" target="_blank"
                                aria-label="WhatsApp" class="social_i_link">
                                <img src="/Img/whatsapp_icon.png" alt="WhatsApp" class="social_i_link">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Boton que hara la funcion de buscar los filtros -->
            <div class="search-div">
                <input class="search-input" type="search" name="search" placeholder="Buscar">
                <button class="btn-search"><i class="bi bi-search"></i>
                </button>
                    
                <a href="/login" aria-label="Login" class="user-icon">
                    
                    <i id="user-icon" class="bi bi-person-fill"></i>
                </a>

            </div>
        </header>

        
            <!-- Enlaces a las diferentes paginas -->
             <div class="menuFondo">
                <button class="abrir_menu" id="abrir">
                    <i class="bi bi-list"></i>
                </button>
             </div>
            
            <nav class="nav" id="nav">

                <ul class="nav-menu" >
                    <button class="cerrar_menu" id="cerrar">
                        <i class="bi bi-x"></i>
                    </button>

                    <!-- Logo del negocio -->
                    <img src="/Img/LogoOficial2.png" alt="logoMenu" class="logoNav">

                    <!-- Barra de busqueda en menu -->
                    <div class="search-bar-menu">
                        <input class="search-input-menu" type="search" name="search" placeholder="Buscar">
                        <button class="btn-search-menu"><i class="bi bi-search" id="search-icon"></i>
                        </button>
                        
                    </div>

                    <!-- menu -->
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/catalogo">Catálogo</a></li>
                    <li><a href="/contacto">Contactanos</a></li>
                    <li><a href="/nosotros">Sobre nosotros</a></li>
                    
                </ul>
                
                <div class="user-container">
                    <a href="/login" aria-label="Login" class="user-link-menu">
                        <i id="login-icon-menu" class="bi bi-person-fill">
                            <p class="login-text-menu">Iniciar sesion</p>
                        </i>
                    </a>
                    <a href="/register" aria-label="Register" class="user-link-menu">
                        <i id="register-icon-menu" class="bi bi-person-plus-fill">
                            <p class="register-text-menu">Registrarse</p>
                        </i>
                    </a>
                </div>
                
            </nav>
                
            <!-- Muestra el contenedor de los prodcutos disponibles en la web -->
            <div class="contenedor">

                <h1 id="title1">Descubrelo en nuestro stock.</h1>

                <div class="flores-grid">
                    
                    <div class="flor-card">
                        <img src="./Img/Ramos/RamoEternoPortada.jpeg" alt="Girasoles"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Eternos (Liston)</h3>
                            <p class="flor_text">Lindos arreglos con material de calidad, hechos a mano con liston satinado con una duracion eterna.</p>
                            <a href="/catalogo" class="btn-ver"
                                data-alert="true">Ver</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/Naturales/RamoGirasolNat.jpeg" alt="Rosas Rojas"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Naturales</h3>
                            <p class="flor_text">Arreglos y ramos naturales, juntamos aquellas flores que nos demuestran la verdadera belleza de la naturaleza.</p>
                            <p id="nota">Nota: solo bajo pedido de 3 dias.</p>
                            <a href="/catalogo" class="btn-ver" data-alert="true">Ver</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/Artificiales/ArregloArtificialPortada.jpeg" alt="Girasoles"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Artificiales</h3>
                            <p class="flor_text">Hermosos arreglos de flores de material de pana</p>
                            <a href="/catalogo" class="btn-ver"
                                data-alert="true">Ver</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/MiniDetalles/MiniDetallesPortada.jpeg" alt="Orquídeas"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Mini Detalles.</h3>
                            <p class="flor_text">Elegantes detalles para un toque de amor y novedad
                                ante la pareja.</p>
                            <a href="/catalogo" class="btn-ver"
                                data-alert="true">Ver</a>
                        </div>
                    </div>
                    
				<!-- Contiene la funcion de personalizado -->
                    <div class="flor-card">
                        <img src="./Img/Personalizado.jpg" alt="Personalizados"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Personalizar.</h3>
                            <p class="flor_text">¡Aqui te damos la opción de crear tu propio arreglo,
                                ramo o detalle a tu gusto o para la ocasión que lo necesites, elige
                                tu mismo el color, estilo y flor!</p>
                            <a href="/personaliza" class="btn-ver" >Personalizarlo</a>
                        </div>
                    </div>
                </div>

                <!-- Slider main container -->
                 <h1 id="title1">
                    Los más populares en ventas.
                 </h1>
                <div class="container-swiper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/Img/Arreglos/CajaKitty.jpg" alt="Img1">
                            </div>
                            <div class="swiper-slide">
                                <img src="/Img/Ramos/RamoHombre.jpg" alt="Img2">
                            </div>
                            <div class="swiper-slide">
                                <img src="/Img/Ramos/RosaGirasol.jpg" alt="Img3">
                            </div>
                            <div class="swiper-slide">
                                <img src="/Img/Ramos/RamoDeGirasoles.jpg" alt="Img4">
                            </div>
                            <div class="swiper-slide">
                                <img src="/Img/Ramos/Ramo8Rosas.jpg" alt="Img5">
                            </div>
                            <div class="swiper-slide">
                                <img src="/Img/Ramos/Ramo5rosas.jpeg" alt="Img6">
                            </div>
                            <div class="swiper-slide">
                                <img src="/Img/Arreglos/ArregloJumbo.jpg" alt="Img7">
                            </div>
                        </div>
                     <div class="swiper-pagination"></div>
                </div>
                
                <!-- Muestra el contenedor de las proximos productos disponibles -->
                <h1 id="title1">Proximamente disponible.</h1>
                <div class="flores-grid">
                    <div class="flor-card">
                        <img src="./Img/Portadas/SanValentin.jpeg" alt="Rosas Rojas"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Dia del amor y la amistad</h3>
                            <a href="#" class="btn-ver">Disponible
                                14/02/2026</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/Diamujer.jpg" alt="Girasoles"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Dia de la mujer.</h3>
                            <p></p>
                            <a href="#" class="btn-ver">Disponible
                                08/03/2026</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/Diamadre.avif" alt="Orquídeas"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Dia de las madres</h3>
                            <p></p>
                            <a href="#" class="btn-ver">Disponible
                                10/05/2025</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/Independencia.jpg" alt="Personalizados"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Celebremos nuestra independencia.</h3>
                            <p></p>
                            <a href="#"
                                class="btn-ver">Disponible 15/09/2025</a>
                        </div>
                    </div>
                </div>

                <!-- Muestra el contenedor de ofertas -->
                <h1 id="title1">Promociones disponibles.</h1>
                <div class="flores-grid">
                    <div class="flor-card">
                        <img src="./Img/Portadas/Promo.jpeg" alt="Rosas Rojas"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Promociones en los siguientes productos.</h3>
                            <p></p>
                            <a href="#" class="btn-ver">Ver</a>
                        </div>
                    </div>

                    <div class="flor-card">
                        <img src="./Img/Portadas/oferta.jpeg" alt="Girasoles"
                            class="flor-img">
                        <div class="flor-info">
                            <h3>Productos con el 10% de descuento.</h3>
                            <p></p>
                            <a href="#" class="btn-ver">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="footer-container">
                    <div class="footer-info">
                        <div>
                            <img class="img-footer" src="./Img/LogoWeb.png" alt="Logo">
                        </div>
                        <div>
                            <h2>Contactos</h2>
                            <p class="footer_info">WhatsApp: (503) 7810 0380</p>
                            <p class="footer_info">Correo: ruths_floristeria@gmail.com
                        </div>
                    <div>
                        <h2>
                            Horarios de atencion
                        </h2>
                        <p class="footer_info">Lunes a Viernes 9:00 a.m - 5:00 p.m</p>
                        <p class="footer_info">Sabado: 9:00 a.m - 12:00 m.d</p>
                        <p class="footer_info">Domingo: 9:00 a.m - 12:00 m.d</p>
                    </div>
                    <div>
                        <h2>
                           Dirección:
                        </h2>
                        <p class="footer_info">Pasaje Texas #18</p>
                        <p class="footer_info">Colonia Los Angeles</p>
                        <p class="footer_info">Apopa, San Salvador, El Salvador</p>
                    </div>
                    
                </div>
                <p class="footer-copyright">
                    Todos los derechos reservados &copy; 2024 Ruth's Floristeria. 
                </p>
            </footer>

            <!-- Scripts -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
            <script src="/scripts/script.js"></script>
    </body>
</html>