<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="/index" alt="Ruth´s Floristeria">
                    <img src="./Img/LogoOficial2.png" alt="Ruth´s Floristeria"
                        class="logo" id="Logo">
                </a>
            </div>
            <div class="name-container">
                <!-- Bloque que contiene las redes sociales -->
                <div class="brand-name">
                    <div class="nameHeader">
                        <h1>RUTH'S FLORISTERIA</h1>
                    </div>
                    
                    <div class="social-icons">
                        <a href="https://www.facebook.com/share/15a2yERfwt/" target="_blank"
                            aria-label="Facebook" class="social_i_link">
                            <img src="/Img/facebook_icon.png" alt="Facebook" class="social_i_link">
                        </a>
                        <a href="https://www.instagram.com/ruths_floristeria?igsh=MTY0dXgzOWtsdXFlZA==" target="_blank"
                            aria-label="Instagram" class="social_i_link">
                            <img src="/Img/ig_icon.png" alt="Instagram" class="social_i_link">
                        </a>
                        <a href="https://www.tiktok.com/@ruthu2922?_t=ZM-8tanzx0APdW&_r=1" target="_blank"
                            aria-label="TikTok" class="social_i_link">
                            <img src="/Img/tik-tok_icon.png" alt="TikTok" class="social_i_link">
                        </a>
                        <a href="https://wa.me/message/7DZKOUFPRBHBN1" target="_blank"
                            aria-label="WhatsApp" class="social_i_link">
                            <img src="/Img/whatsapp_icon.png" alt="WhatsApp" class="social_i_link">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Boton que hara la funcion de buscar los filtros -->
        <div class="search-div">
            <input class="search-input" type="search" name="search" placeholder="Buscar">
            <button class="btn-search"><i class="bi bi-search"></i>
            </button>
                
            <a href="/login" aria-label="Login" class="user-icon">
                <i id="user-icon" class="bi bi-person-fill"></i>
            </a>
        </div>
    </header>

        <!-- Enlaces a las diferentes paginas -->
        <div class="menuFondo">
            <button class="abrir_menu" id="abrir">
                <i class="bi bi-list"></i>
            </button>
         </div>
        
        <nav class="nav" id="nav">
            <ul class="nav-menu" >
                <button class="cerrar_menu" id="cerrar">
                    <i class="bi bi-x">
                </i></button>

                <!-- menu -->
                <li><a href="/index">Inicio</a></li>
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="/contacto">Contactanos</a></li>
                <li><a href="/nosotros">¿Quienes somos?</a></li>
                
            </ul>
        </nav>

    <!-- Cuerpo de la informacion -->
    <div class="contenedor">
        <div class="about-section">
            <h2>Nuestra Historia</h2>
            <div class="about-grid">
                <div class="about-content">
                    <p class="about-text">
                        Ruth´s Floristeria nació en 2024, como un proyecto de familia. Inspirado en la pasión por crear 
                        arreglos florales eternos únicos que transmitan emociones y belleza...
                    </p>
                    <div class="valores">
                        <h3>Nuestros Valores</h3>
                        <ul class="valores-list">
                            <li id="valoresli">1. Calidad Premium</li>
                            <li id="valoresli">2. Servicio Personalizado</li>
                            <li id="valoresli">3. Compromiso Ambiental</li>
                            <li id="valoresli">4. Innovación Continua</li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="about-images">
                <img src="./Img/LogoOficial2.png" alt="Nuestra Tienda" class="about-img">
            </div>
        </div>

        <div class="about-section">
            <h2>¿Que hacemos?</h2>
            <div class="about-grid">
                <div class="about-content">
                    <p class="about-text">
                        Fabricamos o creamos, arreglos, ramos, detalles o eventos.
                        Con estilos unicos, para diferentes épocas del año, como tambien situacion sentimentales mayores.
                    </p>
                    <div class="valores">
                        <h3>Valoramos en los arreglos</h3>
                        <ul class="valores-list">
                            <li id="valoresli">1. Sentimientos encontrados del recuerdo</li>
                            <li id="valoresli">2. Complacer el gusto de la persona a la que se le regalar</li>
                            <li id="valoresli">3. Que el cliente pueda volver a comprar.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>