<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pago</title>
</head>
<body>
    <div class="payment-container" id="payment-container">
        <div class="form-pago-container">
            <h2 class="tittlePago">Formulario de Pago</h2>
            <!-- Formulario de Pago -->
            <div class="formulario">
                <form action="/procesar-pago" method="POST">
                    <!-- Información del cliente -->
                    <div class="form-group">
                        <label class="label-pago" for="nombre">Nombre Completo</label>
                        <input class="input-pago" type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
                    </div>
                    <div class="form-group">
                        <label class="label-pago" for="email">Correo Electrónico</label>
                        <input class="input-pago" type="email" id="email" name="email" placeholder="Ingresa tu correo" required>
                    </div>
                    <div class="form-group">
                        <label class="label-pago" for="telefono">Teléfono</label>
                        <input class="input-pago" type="tel" id="telefono" name="telefono" placeholder="Ingresa tu teléfono" required>
                    </div>
                    <!-- Detalles de la tarjeta -->
                    <div class="form-group">
                        <label class="label-pago" for="numero-tarjeta">Número de Tarjeta</label>
                        <input class="input-pago" type="text" id="numero-tarjeta" name="numero-tarjeta" placeholder="1234-5678-9012-3456" required>
                    </div>
                    <div class="form-group">
                        <label class="label-pago" for="fecha-expiracion">Fecha de Expiración</label>
                        <input class="input-pago" type="month" id="fecha-expiracion" name="fecha-expiracion" required>
                    </div>
                    <div class="form-group">
                        <label class="label-pago" for="cvv">CVV</label>
                        <input class="input-pago" type="text" id="cvv" name="cvv" placeholder="123" required>
                    </div>
                    <!-- Opciones de pago -->
                    <div class="form-group">
                        <label class="label-pago" for="metodo-pago">Método de Pago</label>
                        <div class="img-pago">
                            <img class="img-pago" src="/Img/Portadas/VisaPortada.jpg" alt="Tarjeta de visa">
                            <img class="img-pago" src="/Img/Portadas/mastercardPortada.jpg" alt="Tarjeta de MasterCard">
                            <img class="img-pago" id="bank-transfer" src="/Img/Portadas/transferenciaPortada.png" alt="Transferencia Bancaria">
                        </div>
                        <select class="select-pago" id="metodo-pago" name="metodo-pago" required>
                            <option value="tarjeta-credito">Tarjeta de Crédito</option>
                            <option value="tarjeta-debito">Tarjeta de Débito</option>
                            <option value="transferencia-bancaria">Transferencia bancaria</option>
                        </select>
                    </div>
                    <!-- Botón de envío -->
                    <button type="submit" class="btn-pago">Pagar Ahora</button>
                </form>
            </div>

            <div class="table-pago">
                <!-- Tabla de detalles de la compra -->
                <table class="table-pago">
                    <thead class="thead-pago">
                        <tr>
                            <th colspan="2">Detalles de la Compra</th>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Producto 1</td>
                            <td>$10.00</td>
                        </tr>
                        <tr>
                            <td>Producto 2</td>
                            <td>$20.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>$30.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        <script src="/scripts/script.js"></script>
</body>
</html>